@font-face{
	font-family: 'Poppins-Black';
	src: url('../fonts/Poppins-Black.ttf') format('truetype');
}
body{
	color: white;
	margin: 0.5vw;
	// background-color: orange;
	font-family: 'Poppins-Black', Fallback, sans-serif;
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
	div{
		width: 75vw;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		text-align: center;
		#label{
			font-size: 1.5em;
			margin: 0;
			color: black;
		}
		input{
			width: 60vw;
			font-size: 2em;
			background: #3CBC8D;
			border-radius: 3px;
			color: white;
		}	
		#breakLine{
			margin-top: 25px;
			margin-bottom: 25px;
		}
		#note{
			color: black;
			font-size: 2em;
			margin: 0;
			word-wrap: break-word;
			width: 70vw;
			margin-left:auto;
			margin-right:auto;
			p{
				margin: 0;
			}
		}
		button{
			width: 70vw;
			height: 30px;
			margin:0;
			background-color: #3CBC8D;
			color: white;
			border: solid #3CBC8D 2px;
			border-radius: 5px;
		}
	}
}
